* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: #111010;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

.navbar-toogle_custom{
    border: none;
}

.card-habilidades{
    background: radial-gradient(circle at 100% 100%, #111010 0, #111010 5px, transparent 5px) 0% 0%/8px 8px no-repeat,
            radial-gradient(circle at 0 100%, #111010 0, #111010 5px, transparent 5px) 100% 0%/8px 8px no-repeat,
            radial-gradient(circle at 100% 0, #111010 0, #111010 5px, transparent 5px) 0% 100%/8px 8px no-repeat,
            radial-gradient(circle at 0 0, #111010 0, #111010 5px, transparent 5px) 100% 100%/8px 8px no-repeat,
            linear-gradient(#111010, #111010) 50% 50%/calc(100% - 6px) calc(100% - 12px) no-repeat,
            linear-gradient(#111010, #111010) 50% 50%/calc(100% - 12px) calc(100% - 6px) no-repeat,
            linear-gradient(272deg, rgba(0,255,85,0.81) 0%, rgba(0,248,255,0.94) 83.476%, transparent 100%),
            linear-gradient(44deg, #00bcff 0%, #6700ff 100%);
    border-radius: 8px;
    padding: 9px;
    box-sizing: border-box;
    height: 240px;
}

.subyarado {
    text-decoration: underline;
}

.img-container {
    background: -webkit-linear-gradient(left top, crimson 0%, #f90 100%);
    background: linear-gradient(to bottom right, crimson 0%, #f90 100%);
    width: 176px;
    height: 176px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.galeria-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.galeria-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}
.galeria-item:hover {
    transform: scale(1.05);
}
.galeria-item:hover img {
    transform: scale(1.1);
}

.list-herramientas{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 0;
    margin: 0;
    list-style: none; 
   
}
.list-herramientas li {
    margin: 10px; 
    flex: 1 1 auto; 
    display: flex;
    align-items: center;
    justify-content: center; 
}

.btn-enviar{
 background-color: #05ebb2;
 color: #000;
 width: 120px;
}

.btn-enviar:hover{
    background-color: #808080;
    color: #FFF;
}
   
.btn-limpiar{
    width: 120px;
    background-color: #111010;
    border-color: #FFF;
    color: #FFF;
}

.btn-limpiar:hover{
    background-color: #808080;
    color: #FFF;
    border-color: none !important;
 }

 .bold-text{
    font-weight: bold;
 }
@media (min-width: 992px) { 
    .container {
        max-width: 960px;
    }
}
